@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/*--------------START of Intro Section ------------------------*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
nav.sticky {
  padding: 15px 20px;
  background: whitesmoke;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content {
  height: 100%;
  max-width: 1200px;
  padding-top: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #353842;
}
nav.sticky .logo a {
  color: #fff;
}

.nav-content .nav-links {
  display: flex;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #0e2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3 ease;
}

.nav-links li a:hover {
  color: #5cb4f8;
}

.nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4 ease;
}

.nav.sticky .nav-links li a:hover {
  color: #0e2431;
}

/*--------------END of NAVBAR Section ------------------------*/

main {
  max-width: 1580px;
  margin: 0 auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #222220;
    background-color: #fcfcfa;
  }
}

/*--------------Start of Intro Section ------------------------*/
/* Start of Rotating Text */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.service_p {
  text-align: left;
  margin-left: 1.2in;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  font-family: 'Inter', sans-serif;
    font-size: 4.5rem;
    margin-top: 1em;
    margin-bottom: .2em;
    font-weight: 800;
    color: #000000;
}

.paragraph {
  text-align: left;
  margin-left: 1.2in;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}


.hero-frame {
  width: 100%;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}


.word {
  position: absolute;
  width: 500px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.word0 {
  color: black;
}
.word1 {
  color: #56ded8;
}

.word2 {
  color: #23cdf6;
}

.word3 {
  color: #56ded8;
}

.word4 {
  color: #23cdf6;
}

/* End of Rotating Text */

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.intro {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.text {
  width: 800px;
}

@media only screen and (min-width: 48rem) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}
@media only screen and (min-width: 64rem) {
  .container {
    grid-template-columns: 1fr max-content;
    column-gap: 8rem;
    margin-top: 1rem;
  }
}
.banner-image {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
  justify-self: center;
}
@media only screen and (min-width: 48rem) {
  .banner-image {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}
@media only screen and (min-width: 64rem) {
  .banner-image {
    max-width: 25rem;
    height: auto;
    margin-right: 5rem;
  }
}

.banner-image {
  width: 350px;
  height: 300px;
  margin: 50px auto;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/*--------------END of Intro Section ------------------------*/

/*--------------START of ABOUT US Section ------------------------*/
.aboutUS {
  margin-top: 80px;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 280px; /* Adjust as needed */
  left: 90px; /* Adjust as needed */
  color: white; /* Text color */
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.team-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  left: 70px;
  bottom: 150px;
}


/*--------------END of ABOUT US Section ------------------------*/

/*--------------START of Find a Job Section ------------------------*/
/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.findJob {
  padding: 60px 50px;
  margin-top: 80px;
}
.findJob h1{
 font-weight: 700;
 margin-bottom: 30px;
 margin-left: 15px;
 font-family: 'Inter', sans-serif;
}

.findJob .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.findJob .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.findJob .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.findJob .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.findJob .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.findJob .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.findJob .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.findJob .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.findJob .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .findJob {
    padding: 50px 30px;
  }
  .findJob .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .findJob .item.active {
    width: 400px;
  }
  .findJob .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .findJob {
    padding: 50px 30px 40px;
  }
  .findJob .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .findJob .item.active {
    width: 360px;
  }
  .findJob .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  .findJob {
    padding: 30px 15px 20px;
  }
  .findJob .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .findJob .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .findJob .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

/*--------------END of Find a Job Section ------------------------*/

/*--------------START of Avail Services ------------------------*/
.availService {
  padding: 60px 50px;
}

.availService h1{
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 15px;
}

.grid-container {
  display: flex;
  flex-flow: column nowrap;
}
/*CSS Grid*/
.section-grid {
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Inter' ;
}
.grid-prod {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.prod-grid {
  flex: 1 1 25%;
  margin: 2%;
  padding: 12px;
}

.prod-grid img{
  padding-bottom: 30px;
}

.prodtxt{
  margin-top: 45px;
}

.grid-container h3,
.grid-container p {
  margin-top: 15px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.grid-container h3 {
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 480px) {
  .grid-container .section-list,
  .buttons {
    display: none;
  }
}
/*--------------END of Avail Services ------------------------*/


.badges-frame {
  margin: 450vh;
  position: absolute;
  width: 100%;
  margin-right: auto;
  z-index: 2;
  top: 0;
  right: 0; 
}

.badges-subtitle {
  text-align: left;
  margin-left: 2in;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 14rem;
  color: #1d1b1b;
}

.badges-title {
  text-align: left;
  margin-left: 2in;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  margin-bottom: .2em;
  font-weight: 800;
  color: #1d1b1b;
}

.map-frame {
  margin: 595vh;
  position: absolute;
  width: 100%;
  margin-right: auto;
  z-index: 2;
  top: 0;
  right: 0;
}

.map-title {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 10rem;
  color: #1d1b1b;
  margin-top: 4.3in; 
  font-weight: 800;

  display: grid;
  place-items: center;
  align-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(220%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/*--------------START of faqs section ------------------------*/
.faq {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 60px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 120vh;
}
.faq h1{
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 15px;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ebebeb;
}
.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}
.open:hover {
  opacity: 0.7;
}
.expanded {
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}
.question {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.answer {
  font-size: 16px;
  line-height: 26px;
  display: none;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}
.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.faq-o {
  top: -50px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}
@media only screen and (max-width: 480px) {
  .faq-t {
    display: none;
  }
  .question {
    padding-right: 0px;
  }
  .answer {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*--------------END of faqs section ------------------------*/


/*--------------START of partners section ------------------------*/
  .partners{
    padding: 60px 50px;

  }

  .partners img{
    width: 220px;
    height: 220px;;
    display: block;
  }

  .grid-partners{
    max-width: 1024px;
    margin: 0 auto;
    font-size: 0;
    margin-top: 0;
  }
  
  .grid-item{
    width: 23%;
    margin: 1%;
    display: inline-block;
  }
  /*--------------END of partners section ------------------------*/


  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#46e6e3;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#46e6e3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}